
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<div class="navbar-collapse" collapse>
    <ul class="nav navbar-nav">
        <li>Html.ActionLink("Enviar Correo", "Enviar correo", "Enviar correo")</li>
    </ul>
</div>

