
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">



<style>



   body,h1,h2,h3,h4,h5,h6 {  

       font-family: "Poppins", sans-serif;
         color: #868e96;
         line-height: 1.75;
         box-sizing: border-box;
         font-size: 16px;
         
   }
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
  font-family: 'Roboto Slab';


    }
    .section-servives{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; 
   }

   .section-parrafo{
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 75px;
      text-transform: none;
      font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
   }

   .section-servicios{
       font-size: 40px;
       margin-top: 0;
       margin-bottom: 15px;
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 500;
       line-height: 1.1;
       box-sizing: border-box;
   }
   .section-texto{
       font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
       color: #868e96;
       line-height: 1.75;
       box-sizing: border-box;
       text-align:center;
   }
   h4{
       text-align:center;
   }
  .cont_1{

         border-radius: 5px;
  }
  .info{
          color: #f44336 !important;
}
  .section-servicios{
      color: #2196F3 !important
  }
  .section-info{
      text-align:center;
      color: #e91e63 !important;
  }
  .thumbnail{
     color: #00bcd4 !important;
  }

  </style>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-servicios">Servicios</h2>
                <h3 class="section-parrafo">Nuestras soluciones ayudan a nuestros clientes a transformar su productividad.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/imagenes/unpasoadelante.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
                <h4 class="service-heading">Un paso adelante</h4>
                <p class="section-texto">Proveemos soluciones funcionales que integran los procesos de manufactura con las demás operaciones de la empresa, permitiendo identificar cambios en la demanda y responder rápidamente a los nuevos requerimientos del consumidor..</p>
            </div>
            <div class="col-md-4">
                <img src="/imagenes/enfoqueempresa.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
                <h4 class="service-heading">Enfoque</h4>
                <p class="section-texto">Con la mirada puesta sobre las necesidades de quienes están comenzando o bien que necesitan innovar en la gestión de sus negocios, desarrollamos soluciones integrales de rápida puesta en marcha..</p>
            </div>
            <div class="col-md-4">
                <img src="/imagenes/compromiso.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
                <h4 class="service-heading">Compromiso</h4>
                <p class="section-texto">Los clientes estarán más que satisfechos con la entrega de pedidos en tiempo y forma gracias a la organización y planificación estratégica de la producción, cumpliendo con los más altos estándares de calidad..</p>
            </div>
        </div>
    </div>
</section>

<br/>
<br/>

<div class="w3-row w3-padding-64">
    <h1 class="section-info">Nuestras Soluciones</h1>
    <div class="w3-twothird w3-container">
       
        <h1 class="w3-text-teal">Nuestra empresa</h1>
        <p>
            Somos una Empresa que desde hace más de 20 años nos dedicamos a brindar soluciones informáticas, asesoramiento y soporte técnico a nuestros clientes. Nuestro empeño y dedicación han sido orientados a satisfacer las necesidades de las empresas, especialmente en el rubro de Servicios Públicos. Todos nuestros productos están desarrollados con herramientas de última generación que permiten brindar soluciones rápidas y eficientes, con soporte técnico personalizado, por lo que nos diferenciamos de nuestros competidores en el mercado local. Sistemas & Soluciones Informáticas le ofrece un conjunto de aplicaciones empresariales, totalmente diseñadas y desarrolladas en función de las características específicas del clientes. </p>
    </div>
    <div class="cont_1">
        <p class="w3-border"><img src="/imagenes/img1.jpg" width="304" height="236" ></p>
      
    </div>
</div>

<div class="w3-row">
    <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Nuestros Productos</h1>
        <p>
            Todos nuestros desarrollos se basan en software a medida, esta es la solución ajustada exactamente a los requerimientos de su empresa. Realizamos desarrollo de software cliente-servidor, que nos permite generar aplicaciones ágiles, escalables y modulares. La arquitectura modular en el desarrollo de software, deja abierta la posibilidad de enriquecer el sistema a medida que sea necesario, agregándole nuevas funciones e integrándolo con otras plataformas como la Web, dispositivos móviles, etc. </p>
    </div>
    <div class="cont_1">
        <p class="w3-border"><img src="/imagenes/img2.jpg" width="304" height="236"></p>
        
    </div>
</div>

<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Servicios Profesionales</h1>
        <p>
            Ofrecemos desarrollos a medida del cliente, nos ocupamos de la integración del software en su empresa, como también la asistencia, empezado por el relevamiento de las necesidades, el diseño y desarrollo, la implementación y las pruebas, hasta la formación del plantel de usuarios y el mantenimiento del software. </p>
    </div>
    <div class="cont_1">
        <p class="w3-border"><img src="/imagenes/img3.jpg" width="304" height="236"></p>
     
    </div>
</div>
 
<div class="container-fluid text-center bg-grey">
    <h2 class="info">Nosotros estamos brindando soluciones informáticas</h2>
    <h4>Para una mejor atencion</h4>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/imagenes/cindy.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
                <p ><strong>Cindy Velazquez</strong></p>
                <p>Desarrolladora - Administrativa</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/imagenes/marce.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
                <p><strong>Marcelo Martiez</strong></p>
                <p>Programador</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="/imagenes/seba.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
                <p><strong>Sebastian Ficara</strong></p>
                <p>Soporte Tecnico</p>
            </div>
        </div>
    </div>
    </div>














